.product-info__quiz  {
 padding-bottom: 18px;
}

.product-quiz__heading {
    font-size:var(--title-size);
    font-weight: var(--title-weight);
    line-height: var(--title-height);
    margin-bottom: 14px;
}

.product-quiz__question {
    font-size:var(--body-size);
    font-weight: var(--body-weight);
    line-height: 22px;
    margin-bottom: 14px;
}

.product-quiz__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: var(--row-gap);
}

.product-quiz__option-item {
  width: calc(50% - (var(--column-gap)));
  text-align: center;
  padding: 14px 0;
  font-size:var(--body-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  border: 1px solid var(--border-color);
  cursor: pointer;

}

.product-quiz__option-item:hover, .product-quiz__option-item--active {
    background: var(--border-color);
}

.product-quiz__option-item--error {
    background-color: red !important;
    color: white;
}

.product-quiz__option-item--success {
    --button-background: 228 183 82 / var(--button-background-opacity, 1);
    background: rgb(var(--button-background)) !important;
    color: white;
}


.product-quiz__error-text {
    margin-top: 12px;
    font-size:var(--body-small-size);
    font-weight: var(--body-small-weight);
    line-height: var(--body-small-line-height);
    color: red;
}

@media (min-width: 1200px) {
    .product-quiz__heading {
        margin-bottom: 20px;
    }

    .product-info__quiz {
        padding-bottom: 0;
        margin-bottom: 35px;
        margin-top: 35px;
    }
}
