.slideshow .slideshow__slide .prose .button {
	border-radius: 4rem;
	border: 1px solid rgb(var(--ul-button-text-color));
}
.slideshow .slideshow__slide .prose .button svg {
	height: unset;
}
.desktop_only {
	display: none;
}
.mobile_only {
	display: block;
}
/* Media query */

@media (max-width: 767px) {
	.mobile_content_info {
		background: #ffffff;
		color: #000;
		font-size: 24px;
		padding: 25px 0;
	}
	.mobile_content_info .subheading {
		display: none;
	}
	.mobile_content_info .heading {
		font-size: 24px;
		margin: 0 auto;
		width: 80%;
	}
	.slideshow .slideshow__slide .prose .button {
		display: flex;
		align-items: center;
		width: fit-content;
		justify-content: center;
		margin: 0 auto;
		gap: 10px;
		padding: 8px 35px;
	}
}
@media (max-width: 320px) {
	.mobile_content_info .heading {
		width: 100% !important;
	}
}
@media (min-width: 768px) {
	.desktop_only {
		display: block;
	}
	.mobile_only {
		display: none;
	}
	.slideshow .slideshow__slide .prose .button {
		display: flex;
		align-items: center;
		width: fit-content;
		justify-content: center;
		margin: 0 auto;
		gap: 10px;
		padding: 12px 35px;
	}
}
@media (min-width: 1200px) {
	.slideshow__controls:not(
			:lang(ae),
			:lang(ar),
			:lang(arc),
			:lang(bcc),
			:lang(bqi),
			:lang(ckb),
			:lang(dv),
			:lang(fa),
			:lang(glk),
			:lang(he),
			:lang(ku),
			:lang(mzn),
			:lang(nqo),
			:lang(pnb),
			:lang(ps),
			:lang(sd),
			:lang(ug),
			:lang(ur),
			:lang(yi)
		) {
		right: unset;
		left: 50%;
	}
	.slideshow .slideshow__slide .prose .button {
		padding: 18px 48px;
		font-size: 20px;
	}
	.slideshow .slideshow__slide .prose .button > div {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.slideshow .slideshow__slide .prose p.bold {
		font-size: 18px;
		font-weight: 500;
	}
	.slideshow .slideshow__slide .prose .h0 {
		margin-block-start: 0;
	}
}
